
body {
    margin: 0;
    font-family: 'Georgia', 'Montserrat', 'Gotham';
    margin-bottom: 50px;

}

.content p, .content h2, .content ul, .facultyAdvisor, .content ol, table{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.content p, .facultyAdvisor {
  width: 68%;
}

.content p, .facultyAdvisor, table td {
  color: #494949;
  font-family: 'Gotham';
}

h1 {
  font-family: 'Georgia';
  color: #7f4775;
  font-weight: lighter;
  text-align: center;
} 

h2 {
  font-family: 'Georgia';
  color: #17376e;
  font-weight: lighter;
}


.header {
    background-color: rgb(31,29,61);
    display: block;
    padding: 20px 26px;
}

.header a {
    font-size: larger;
    padding: 20px 26px;
    color: white;
}

.topnav {
  overflow: hidden;
  background-color: rgb(164,58,100);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
}

.topnav a:hover {
  background-color: rgb(196, 85, 129);
}

.topnav a.active {
  background-color: rgb(141, 9, 62);
  color: white;
}

.topnav .icon {
  display: none;
}

.imageContent {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

#banner {
  display: flex;
  width: 100%;
  background-image: url("../assets/chamber_banner1.jpg");
  height: 500px;
  align-items: center;
  justify-content: center;
  background-position: center;
}

#banner_container {
  font-size: x-large;
  color: white;
  font-size: 3em;
  text-align: center;
}

.facultyAdvisorDivLeft, .facultyAdvisorDivRight {
  float:left;
  display: block;
  width: 40%;
  margin-bottom: 20px;
  
}

.facultyAdvisorDivLeft {
  margin-right: 1em;
}

ol li {
  margin-bottom: 10px;
}


img {
  max-width: 900px;
  height: auto;
}

.table_container {
  margin-top: 25px;
  overflow-x: auto;
  padding-left: 10px;
  padding-right: 10px;
}

table {
  border-collapse: collapse;
  font-family: 'Gotham-Medium_5';
}


tr {
  border-bottom: 1px solid #ddd;
  height: 35px;
}

.head_row {
  border-bottom: 1px solid #ea6645;
  text-align: left;
}

#project_cost {
  width: 600px;
}

#funded_projects, #patents_table, #internships_table {
  width: 800px;
}


#projects_table  {
  width: 1200px;
}


td, th {
  padding-right: 15px;
  padding-bottom: 8px;
  padding-top: 8px;
}

  
  @media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .content p, .content h2, .facultyAdvisor, .content ol, .content li
    .content ul {
      width: 80%;
    }
    .facultyAdvisorDivLeft, .facultyAdvisorDivRight {
      float: none;
      width: 100%;
      margin-bottom: 10px;
    }
    img {
      width: 500px;
      height: auto;
    }

  }
  
  @media screen and (max-width: 900px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      border-bottom: 2px white;
      text-align: left;
    }
  }

  @media screen and (max-width: 500px) {
    .content p, .content h2, .facultyAdvisor, .content ol, .content li 
    .content ul {
      width: 95%;
    }
    img {
      width: 300px;
      height: auto;
    }
  }
